 @font-face { font-family: Sosa; src: url('sosa-regular-webfont.ttf'); } 

body, html {
	overflow: hidden;
	margin: 0;
	background-color: #eeeeee;
	height: 100%;
}
body a, html a{
	color: #000;
	text-decoration: none;
}

#container {
	margin: 0 auto;
	margin-top: 3px;
	width: 800px;
	height: 100%;
	background-color: #ffffff;
}

#text {
	background: none;
	border: none;
	height: 0;
	width: 720px;
	overflow: auto;
	resize: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-top: 20px;
	padding: 0px 40px 0px 40px;
}
#monster_progressbar {
	height: 15px;
    width: 100%;
	margin-top: 202px;
}
.slides img {
	padding: 25px 0 25px 0;
}
#user_progressbar {
	height: 15px;
    width: 100%;
	margin-top: 3px;
}
#hp {
	position: absolute;
	line-height: 18px;
	margin: -33px 0 20px 0;
	width: 100%;
	text-align: center;
	font-family: 'Chewy', cursive;
	font-size: 19px;
}

#monster_progressbar .ui-progressbar-value {
	-moz-animation: all 1s linear;
    -webkit-animation: all 1s linear;
}

#min {
    font-family: Sosa;
    font-size: 30px;
    position: absolute;
    right: 35px;
    top: 8px;
    z-index: 9;
    padding: 10px;
    letter-spacing: 10px;
}

#max {
	display: none;
    font-family: Sosa;
    font-size: 30px;
    position: absolute;
    right: 35px;
    top: 8px;
    z-index: 9999;
    padding: 10px;
    letter-spacing: 10px;
}

#min a {
	color: #000;
	text-decoration: none;
	opacity: .6;
}

#max a {
	color: #000;
	text-decoration: none;
	opacity: .2;
}

#min a:hover, #max a:hover {
  	opacity: 1;
}

#monster_progressbar span, #user_progressbar span {
	background-color: #eee;
    display: inline-block;
    height: 100%;
    -webkit-transition: all .4s linear;
			-moz-transition: all .4s linear;
			-ms-transition: all .4s linear;
			-o-transition: all .4s linear;
			transition: all .4s linear;	  
}

.tooltip-content {
	font-family: 'Chewy', cursive;
	font-size: 26px;
    opacity: 0;
    visibility: hidden;     
    text-align: center;
    width: 150px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -76px;                     
    transition: all .2s ease;                  
    }
    

.tooltip:hover .tooltip-content{
    opacity: 1;
    visibility: visible;
    top: 60px;  
    transition: all .2s ease;                       
}


#dialogbox {
	font-family: Sosa;
	text-align: center;
	z-index: 10;
	position: absolute;
	background-color: #eee;
	color: #fff;
	font-size: 600px;
	margin: -100px 0 0 0;
	width: 100%;
	height: 200%;
}

.flex-prev, .flex-next {
	font-family: Sosa;
}

.monsters {
	font-family: 'Chewy', cursive;
	line-height: 35px;
	font-size: 32px;
	position: absolute;
	z-index: 12;
	margin-top: 150px;
	width: 350px;
	height: 310px;
	left: 50%;
	margin-left:-175px;
	text-align: center;
}

.monsters img {
	margin-top: 10px;
}

#smallcontainer {
	font-family: 'Chewy', cursive;
	line-height: 35px;
	font-size: 32px;
	position: absolute;
	z-index: -1;
	margin-top: 170px;
	width: 350px;
	height: 310px;
	left: 50%;
	margin-left:-175px;
	text-align: center;
}

.go a {
	font-family: sosa;
	font-size: 44px;
	   -webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;	 
}

.go a:hover {
	font-size: 50px;
	   -webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;	 
	}


#settings, #user {
	color: #222;
	font-family: Chewy;
	font-size: 24px;
	line-height: 45px;
    background-color: #ccc;
    opacity: 0;
    position: absolute;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    padding-top: 110px;
    text-align: center;
    	   -webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;	 
}
#settings a, #user a {
	color: #222;
}

#fight {
	background-image: url('../img/bg2.png');
	position: absolute;
	width: 100%;
	height: 200px;
	text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

#fight_head, #fight_body {
	padding-right: 200px;
	margin-top: 50px;
}

#enemy {
	padding-left: 200px;
	margin-top: -100px;
}

#help {
	font-family: muli;
	font-size: 18px;
	z-index: 999;
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
}
 #help a:hover {
 	cursor: help;
 	background-color: #aaa;
 }

 #magic {
 	position: relative;
 	top: 128px;
 }